/*----TAG SELECTOR----*/
body {
  font-size: 1.5rem;
  font-family: 'Montserrat-black', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold';
}

p {
  color: #8f8f8f;
  font-size: 1rem;
}

/*----CLASS SELECTOR----*/
.container-fluid {
  padding: 7% 15%;
}

.big-heading {
  font-family: 'Montserrat-black';
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.img-iphone {
  transform: rotate(25deg);
  transition: transform .7s ease-in-out;
  position: absolute;
  padding-top: 15px;
  left: 38rem;
  top: 12rem;
}

.img-iphone:hover {
  transform: rotate(0deg);
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

.features {
  padding: 5%;
}

.features-button {
  font-size: 3rem;
  color: #ef8172;
  padding-bottom: .5rem;
}

.features-button:hover {
  color: #ff4c68;
}

.features-title {
  font-family: 'Montserrat-bolder';
  font-size: 1.5rem;
}

.features-description {
  color: #8f8f8f;
  font-size: 1rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.card-deck {
  margin-top: 30px;
}

.dog-type {
  font-family: 'Montserrat-bolder';
  font-size: 1.5rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.footer-websites {
  font-size: 1rem;
  margin: auto 10px;
}

.copyright {
  color: #8f8f8f;
}

/*----ID SELECTOR----*/
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

#features {
  position: relative;
  z-index: 1;
  width: 100%;
}

#testimonials {
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#footer {
  height: 9.375rem;
  line-height: 2;
}

/* mediaquery */
@media (max-width: 1028px) {
  .img-iphone {
    position: static;
    text-align: center;
  }

  #title {
    text-align: center;
  }
}

/*--COMMENT SECTION
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
--*/
